@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Burbank Big Regular Bold";
  src: url("/fonts/BurbankBigRegularBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Burbank Big Regular Bold", sans-serif;
}

.bg-black {
  background-color: black;
}

/* Navbar.css */
.navbar {
  background-color: #0a0a0a;
  height: 50px;
  font-family: "Burbank Big Regular Bold", sans-serif;
  font-size: x-large;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar li:hover {
  background-color: #1e40af; /* Fortnite's vibrant blue for hover */
  border-radius: 4px;
}

.navbar a {
  text-decoration: none;
  color: #ffffff; /* White text for contrast */
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #d4d4d2; /* Light grey for hover effect */
}

.title {
  padding: 2px;
  margin-left: 8px;
}
.ml-5 {
  margin-left: 20px;
}
.h1-font-size {
  font-size: 40px;
}

.article-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

@media (min-width: 768px) {
  .article-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .article-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.news-bg {
  background-color: #19203a;
  color: white;
}

.article-inner-container {
  background-color: #36393c;
  border-radius: 0.5rem;
  overflow: hidden;
}
.stats-box {
  display: grid;
  grid-template-columns: repeat(
    7,
    1fr
  ); /* Assuming you have 4 items, adjust accordingly */
}

@media (max-width: 1150px) {
  .stats-box {
    grid-template-columns: repeat(3, 1fr);
  }
}
