@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Madim+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */
@font-face {
  font-family: "Burbank Big Regular Bold";
  src: url("/fonts/BurbankBigRegularBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Burbank Big Regular Bold", sans-serif;
}

h8 {
  font-family: "Roboto", sans-serif;
}

.bg-black {
  background-color: black;
}

/* Navbar.css */
.navbar {
  background-color: #1a1919;
  height: 70px;
  font-family: "Burbank Big Regular Bold", sans-serif;
  font-size: x-large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  font-size: 30px;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar li:hover {
  background-color: #1e40af;
  border-radius: 6px;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #d4d4d2;
}

.title {
  padding: 2px;
  margin-left: 8px;
}
.ml-5 {
  margin-left: 20px;
}
.h1-font-size {
  font-size: 40px;
}

.article-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

@media (min-width: 768px) {
  .article-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .article-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.news-bg {
  background-color: #19203a;
  color: white;
}

.article-inner-container {
  background-color: #36393c;
  border-radius: 0.5rem;
  overflow: hidden;
}
.stats-box {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #262424;
  margin-bottom: 20px;
}

@media (max-width: 1150px) {
  .stats-box {
    grid-template-columns: repeat(3, 1fr);
  }
}

.home-container {
  display: flex;
}
.homepage-background {
  background-color: #262424;
}
@media (max-width: 1150px) {
  .stats-box {
    grid-template-columns: repeat(3, 1fr);
  }
  .home-container {
    flex-direction: column;
  }
  .lefthand-side {
    margin-left: 20%;
    margin-bottom: -200px;
  }

  .lefthand-side__text {
    display: none;
  }

  .righthand-side {
    display: none;
  }
}

.home-container {
  display: flex;
}

.lefthand-side {
  width: 60%;
}

.lefthandside-container {
  padding: 10%;
}

.lefthand-side__consoles {
  margin-top: 5%;
  filter: invert(100%);
}
.lefthand-side__consoles img {
  margin-right: 10px;
}

.lefthand-side__subheading {
  margin-top: 20px;
}
.lefthand-side__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
.lefthand-side__title {
  margin-top: 20px;
  font-size: 80px;
}

.lefthand-side__button,
.player_tracker-button {
  background-color: yellow;
  width: 200px;
  height: 50px;
  color: black;
  font-size: 30px;
  font-family: "Burbank Big Regular Bold", sans-serif;
}

.lefthand-side__button:hover,
.player_tracker-button:hover {
  background-color: rgb(144, 144, 4);
}
.lefthand-side__button {
  margin-top: 40px;
}

.righthand-side {
  width: 40%;
}

.righthandside-container {
  padding: 10%;
}

.righthand-side__video {
  margin-top: 70%;
  width: 400px;
  height: 100px;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.video-heading {
  width: 100%;
  background-color: rgb(46, 44, 44);
}

.video-h1 {
  margin-left: 10px;
}

.news-section {
  background-color: #1a1919;
  height: auto;
}

/* ProfileBanner */
.profile-banner__bg {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.profile__image {
  margin-top: 60px;
  border-radius: 50%;
}
.profile__username {
  margin-top: 20px;
  font-size: 30px;
  font-family: "Burbank Big Regular Bold", sans-serif;
}

.profile-main-stats__container {
  width: 100%;
  font-size: 10px;
  justify-content: space-around;
  display: flex;
}

.profile-stat-display_text {
  font-size: 18px;
  font-family: "Madim One", sans-serif;
}
.profile-stat-display_number {
  font-size: 24px;
  font-family: "Madim One", sans-serif;
  font-weight: 400;
}
